node_modules
FileLister_Exports
dist
build
.DS_Store
.vscode
.idea

*.iml
*.log
*.env
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak
*.tmp
*.tsbuildinfo

anotacoes.txt


coverage
public/bundle.js
public/bundle.js.map
